<div *ngIf="player">
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let letter of player.letters; index as i" class="space" (drop)="drop($event)" (dragover)="allowDrop($event)" draggable="true" (dragstart)="drag(i, letter)" id="{{i}}" >
      <span  id="{{i}}" class="letter">{{letter.letter}}</span> <span  id="{{i}}" class="points">{{letter.points}}</span>
    </div>
  </div>
</div>

<!--
<div *ngIf="player">
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let letter of player.letters" class="space" (drop)="drop($event)" (dragover)="allowDrop($event)" draggable="true" (dragstart)="drag($event, letter)" id="{{letter.letter}}" >
      <div draggable="true" (dragstart)="drag($event, letter)" id="{{letter.letter}}" (drop)="drop($event)" ><span class="letter">{{letter.letter}}</span> <span class="points">{{letter.points}}</span></div>
    </div>
  </div>
</div>
-->