

  .space {
    width: 70px;
    height: 70px;
    border: 5px solid #123440;
    float: left;
    font-size: 40px;
    /*margin-right: 10px;*/
    cursor: pointer;
  }

  .space:active{
    background-color: #1999b3;
  }

  .letter{
    font-family: 'Lobster';
  }

  .points{
    font-size: 15px;
  }
